{% extends "base.html" %} {% block title %}Home - Saving Lives{% endblock %} {% block content %}


<div class = 'box'><h1 align= "center">Hello</h1>
<br />
    <div class="blood">
        <marquee behavior="scroll" direction="left" scrollamount="5">Let's Donate</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="10">Let's Donate...</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="70">Let's Donate...</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="50">Let's Donate!</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="60">Let's Donate ...</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="50">Let's Donate...</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="20">Let's Donate...</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="30">Let's Donate!</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="80">Let's Donate</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="10">Let's Donate...</marquee>
        <marquee behavior="scroll" direction="left" scrollamount="100">Let's Donate...</marquee>
    </div>
    <br />
    <div class='header'>
        <a id = "signUp" href = "/sign-up">Sign Up for SAVING LIVES</a>
    </div>
</div>

{% endblock %}
